.root {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-size: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.variant-text {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  color: inherit;
}