.root {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	font-size: inherit;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	img,
	svg {
		display: block;
	}
}

// NOTE Example of setting common styles for multiple variants
.variant-primary,
.variant-secondary {
	display: block;
	width: 100%;
	border-radius: 8px;
	border: 0;
	font-size: 1em;
	font-weight: bold;
	padding: 10px 15px;
}

.variant-primary {
	color: #353d48;
	background-color: #fff;

	&:hover {
		background-color: #006bd1;
		color: #fff;
	}

	&:focus {
		outline: 2px solid #006bd1;
	}

	&[aria-pressed='true'] {
		background-color: #006bd1;
		color: #fff;

		&:focus {
			outline: 0;
		}
	}
}

.variant- {
	&text {
		background-color: transparent;
		border: 0;
		font-weight: bold;
		color: inherit;
	}

  &graphic {
		background-color: #60687c;
		stroke: currentColor;
		stroke-width: 0.15em;
		border-radius: 50%;
		padding: 6px;
		border: 0;
	}
}
