.root {
  width: min-content;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 1.5em;
  animation: 1.5s ease-in-out pulse infinite;
}

.light {
  color: #FFF;
}

.dark {
  color: #333;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}