$left-gutter: 56px;
$right-gutter: 16px;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: 140px;
  right: 40px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.6);
}

.head {
  display: flex;
  align-items: flex-end;
  padding: 8px $right-gutter 8px $left-gutter;
  background-color: #CACACA;
}

.title {
  flex: 1 0 auto;
  color: #5D667A;
  font-size: 1em;
  line-height: 1.5;
}

.closeButton {
  flex: 0 0 auto;
  color: #CACACA;
}

.body {
  padding: 30px $right-gutter 30px $left-gutter;
  overflow-y: auto;
  background-color: #F4F4F5;
  min-height: 100%;
}

